.main-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: rgb(222, 224, 190);
    padding: 1rem;
}
.box-Content {
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    background-color: rgb(146, 143, 143,0.6);
    border-radius: 15px;
    align-items: center;
    transition: all 0.5s;
    box-shadow: 5px 5px 12px  rgb(0,0,0,0.25);
}
.box-Content:hover {
    transform: scale(1.04);
    box-shadow: 10px 10px 19px rgb(0,0,0,0.3);
}
.content,.rate {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.Img-logo {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}